
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            <li>
                <a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-cloud fa-fw"></i> Apps<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("Index", "App")">View All</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "App", new {active = true})">View Actives</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","App", new { active = false})">View Inactives</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create","App")">Create</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="@Url.Action("Index","Token")"><i class="fa fa-key fa-fw"></i> Tokens</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "User")"><i class="fa fa-users fa-fw"></i> Users</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-gears fa-fw"></i> Logs<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("Index", "Log")">View All Logs</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Daily", "Log")">Daily Logs</a>
                    </li>

                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> Tools<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="panels-wells.html">Create Token</a>
                    </li>
                    <li>
                        <a href="panels-wells.html">Verify Token</a>
                    </li>
                    <li>
                        <a href="buttons.html">Decode Token</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="#"><i class="fa fa-gear fa-fw"></i> Settings<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("Index","Settings")">View All</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "Settings")">Create</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>