@model IEnumerable<Jeton.Admin.Web.Models.UserModel>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Users</h1>

    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                User List
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <table width="100%" class="table table-striped table-bordered table-hover" id="app-datatable">
                    <thead>
                        <tr>

                            <th>UserId</th>
                            <th>User NameId</th>
                            <th>User Name</th>
                            <th>Created</th>
                            <th>Modified</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr class="odd gradeX">
                                <td>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <input class="form-control input-sm" style="width:100%;" type="text" placeholder="" readonly value="@item.Id">
                                        </div>
                                        <div class="col-md-2">
                                            <a class="btn btn-default btn-sm" onclick="copyToClipboard('@item.Id')" data-toggle="tooltip" data-placement="top" title="Copy to clipboard"><i class="fa fa-copy"></i></a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <input class="form-control input-sm" style="width:100%;" type="text" placeholder="" readonly value="@item.NameId">
                                        </div>
                                        <div class="col-md-2">
                                            <a class="btn btn-default btn-sm" onclick="copyToClipboard('@item.NameId')" data-toggle="tooltip" data-placement="top" title="Copy to clipboard"><i class="fa fa-copy"></i></a>
                                        </div>
                                    </div>


                                </td>
                                <td class="center">@item.Name</td>
                                <td class="center">@item.Created</td>
                                <td class="center">@item.Modified</td>
                               
                            </tr>
                        }



                    </tbody>
                </table>
                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
@section Scripts{


    <script type="text/javascript">


        $(document).ready(function () {
            $('#app-datatable').DataTable({
                responsive: true
            });

            //$('.dataTables_filter').addClass('pull-right');
        });




    </script>
}
