@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-cloud fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag.AppCount</div>
                        <div>Active Apps</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index","App", new {active = true})">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-key fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag.TokenCount</div>
                        <div>Active Tokens</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index","Token")">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@ViewBag.UserCount</div>
                        <div>Users</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-gears fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">13</div>
                        <div>Transactions</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-8">
        <!-- Token Chart -->
        @*@Html.Partial("_PartialTokenChart", null)*@

        <!-- App Activity Chart -->
        @*@Html.Partial("_PartialAppActivityChart", null)*@
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">

        <!-- Settings -->
        @Html.Partial("_PartialEssentialSettings", (IEnumerable<Jeton.Admin.Web.Models.SettingModel>)ViewBag.Settings)

        <!-- App Status Chart -->
        @Html.Partial("_PartialAppStatusChart", (IEnumerable<Jeton.Admin.Web.Models.AppModel>)ViewBag.Apps);

    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->
@section Scripts{
    <!-- Morris Charts JavaScript -->
    <script src="@Url.Content("~/Content/vendor/raphael/raphael.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/morrisjs/morris.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jeton_custom.js")"></script>
    <script>
        $(function() {

            //Bind App Status Donut Chart
            BindAppStatusChart('morris-donut-chart', '@Url.Action("GetApps", "Home")');

            //Bind Token Activity Area Chart
            //BindTokenActivityChart('morris-area-chart', '@Url.Action("GetTokens","Home")');

            //Bind App Activity Bar Chart
            //BindAppActivityBarChart('morris-bar-chart', '@Url.Action("GetApps", "Home")');
        });

        
    </script>
}