@using Jeton.Admin.Web.Models
@using Jeton.Admin.Web.ViewModel

@{
    ViewBag.Title = "Tools";
}
@section Styles{
    <link href="@Url.Content("~/Content/jjsonviewer.css")" rel="stylesheet" />
    <style type="text/css">
        .close { float: left !important; font-size: inherit !important; font-weight: inherit !important; line-height: inherit !important; -ms-opacity: 1 !important; opacity: 1 !important; }
        .modal { text-align: center; }

        @@media screen and (min-width: 768px) {
            .modal:before { display: inline-block; vertical-align: middle; content: " "; height: 100%; }
        }

        .modal-dialog { display: inline-block; text-align: left; vertical-align: middle; }
        .progress { height: 40px; }
    </style>
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @ViewBag.Title
        </h1>

    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                Token Tools
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#verify_token" data-toggle="tab" aria-expanded="false">Verify Token</a>
                    </li>
                    <li class="">
                        <a href="#decode_token" data-toggle="tab" aria-expanded="false">Decode Token</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="verify_token">
                        <br />
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <textarea id="txt_verify_token" class="form-control" rows="25"></textarea>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <input id="btn_verify" type="button" class="btn btn-success btn-lg btn-block" style="margin-top: 240px" value="Verify"/>
                            </div>
                            <div class="col-md-5">
                                <div id="veriy_token_result" class="well" style="height: 500px">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="decode_token">
                        <br />
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <textarea id="txt_decode_token" class="form-control" rows="25" placeholder="Please paste token"></textarea>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <input id="btn_decode" type="button" class="btn btn-primary btn-lg btn-block" style="margin-top: 240px" value="Decode" />
                            </div>
                            <div class="col-md-5">
                                <div id="decode_token_result" class="well" style="height: 500px">
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>

@section Scripts{
    <script src="@Url.Content("~/Scripts/jjsonviewer.js")"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            $("#btn_verify").click(function () {
                var token = $("#txt_verify_token").val();

                VerifyToken(token);
            });

            $("#btn_decode").click(function() {
                var token = $("#txt_decode_token").val();

                DecodeToken(token);
            });

        });


        function VerifyToken(token) {
            if (token === "")
                return false;

            $.getJSON("@Url.Action("VerifyToken","Tools")" + "?tokenKey=" + token,
                function (d) {
                    if(d.Result)
                        $("#veriy_token_result").html("<h1>Verified</h1>");
                    else {
                        $("#veriy_token_result").text(d.Error);
                    }
                });
            
        }

        function DecodeToken(token) {
            if (token === "")
                return false;

            $.getJSON("@Url.Action("DecodeToken","Tools")" + "?tokenKey=" + token,
                function(d) {
                    if (d.Result)
                        $("#decode_token_result").jJsonViewer(d.Data);
                    else {
                        $("#decode_token_result").text(d.Error);
                    }
                });

        }

    </script>
}